<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/wpobase?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">iwgku016</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.current_session_context_class">thread</property>

    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="c3p0.max_size">20</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.timeout">5000</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.c3p0.acquire_increment">2</property>

    <mapping resource="com/bean/resource/Approve.hbm.xml"/>
    <mapping class="com.bean.Approve"/>
    <mapping resource="com/bean/resource/Authority.hbm.xml"/>
    <mapping class="com.bean.Authority"/>
    <mapping resource="com/bean/resource/Fee.hbm.xml"/>
    <mapping class="com.bean.Fee"/>
    <mapping resource="com/bean/resource/File.hbm.xml"/>
    <mapping class="com.bean.File"/>
    <mapping resource="com/bean/resource/FileType.hbm.xml"/>
    <mapping class="com.bean.FileType"/>
    <mapping resource="com/bean/resource/OrderFlow.hbm.xml"/>
    <mapping class="com.bean.OrderFlow"/>
    <mapping resource="com/bean/resource/Order.hbm.xml"/>
    <mapping class="com.bean.Order"/>
    <mapping resource="com/bean/resource/OrderType.hbm.xml"/>
    <mapping class="com.bean.OrderType"/>
    <mapping resource="com/bean/resource/Progress.hbm.xml"/>
    <mapping class="com.bean.Progress"/>
    <mapping resource="com/bean/resource/Project.hbm.xml"/>
    <mapping class="com.bean.Project"/>
    <mapping resource="com/bean/resource/User.hbm.xml"/>
    <mapping class="com.bean.User"/>


    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>